*{
    box-sizing: border-box;
 }
 body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-image: url(../images/hounds.png);
}
header{
    background-color: #fff;
    
    }

 #name{
    background-color: #4aaaa5;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    padding: 25px;
 }
 #about{
    background-color: #fff;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    }
img{
    margin-right: 10px;

}
.container{
    background-color: #fff;
    margin-bottom: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    padding: 25px;
}
a:link {
    color: #777;
}
a:visited {
    color: #777;
}
footer {
    border-top: 8px;
    border-style: solid;
    border-color: #4aaaa5;
    background-color: #666;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
}
.place{
    text-align: left;
    background-color: #4aaaa5;
    width: 150px;
    


}
    
    






    